html, body{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 24px;
}

form {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

form p {
    background-color: black;
    color: white;
    border-radius: 10px;
    padding: 10px
}